a{
    color: white !important;
    padding-top: 50px !important;
    font-size: 50px;
} 

.title-image{
    height: 100px;
    padding-right: 20%;
}

.rounded {
    height: 200px;
}


.form-control.me-2{
    margin-top: 50px;
    font-size: 30px;
}

.btn.btn-outline-light{
    margin-top: 50px;
    font-size: 30px;
}

.navbar-brand{
    font-size: 50px !important;
}
