.nav-link{
    color: white !important;
    padding-top: 30px !important;
    font-size: 50px;
    padding-bottom: 30px !important;
} 

.nav-link:active{
    color: #CED4D9 !important;
}

.rounded {
    height: 50px;
    position: relative;
    bottom: 5px;
}


.form-control.me-2{
    margin-top: 5px;
    font-size: 30px;
}

.btn.btn-outline-light{
    margin-top: 5px;
    font-size: 30px;
}

.navbar-brand{
    font-size: 50px !important;
}

#addRow{
    border-color: #CED4D9; 
    color: #CED4D9; 
    background-color: white; 
    padding: 5px 10px; 
    border-radius: .25rem;
    box-shadow: none !important;
}

#addRow:active{
    color: white; 
    background-color: #CED4D9; 
}

#addRow:hover{
    color: white; 
    background-color: #CED4D9; 
}

#booksTable {
    margin: 30px;
}

.userIcons {
    display: inline;
}

.userButton{
    border: none;
    background: none;
    border-radius: 100%;
}

.userButton:active, .userButton:hover{
    background-color: #CED4D9;
    color: white;
    padding: 20px;
}

.phoneNum{
    background: none;
    border: none;
}

.phoneNum:active{
    color: #CED4D9;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#userProfile {
    font-size: 30px;
}